.password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 35%;
	right: 4%;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url("../img/ico/visibility_off.svg") 0 0 no-repeat;
    width: 22px;
	height: 22px;
}